{% extends "default/layout/layout.html" %}
{% load static %}

{% block title %} Material Handling, Industrial Supplies, Tools, Safety Equipment & More {% endblock %}
{% block canonical_url %}{{request.scheme}}://{{request.META.HTTP_HOST}}{{request.path}}{% endblock %}
{% block extrastyle %}
<style>
	.custom-preview img {
		width: 100%;  /* Standard width */
		height: 300px;  /* Standard height */
		object-fit: cover;  /* Ensures images fit properly */
		border-radius: 5px;  /* Optional: Smooth corners */
		display: block;
		margin: auto;
	}
</style>
{% endblock %}
{% block ld_json %}
{{home_schema|safe}}
{% endblock %}

{% block content %}

		<!-- BREADCRUMB -->
		<div id="breadcrumb" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<ul class="breadcrumb-tree">
							<li><a href="/">Home</a></li>
							<li><a href="#">{{ product.category }}</a></li>
							<li class="active">{{ product.name }}</li>
						</ul>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /BREADCRUMB -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- Product main img -->
					<div class="col-md-5 col-md-push-2">
						<div id="product-main-img">
							{% if images %}
								{% for image in images %}
								<div class="product-preview">
									<img src="{{image.full_url.url}}" alt="{{ image.title }}">
								</div>
								{% endfor %}
							{% else %}
							<div class="product-preview">
								<img src="{% static '/img/no-image.jpg' %}" alt="Default Image">
							</div>
							{% endif %}
						</div>
					</div>
					<!-- /Product main img -->

					<!-- Product thumb imgs -->
					<div class="col-md-2  col-md-pull-5">
						<div id="product-imgs">
							{% if images %}
								{% for image in images %}
								<div class="product-preview">
									<img src="{{image.full_url.url}}" alt="{{ image.title }}">
								</div>
								{% endfor %}
							{% else %}
							<div class="product-preview">
								<img src="{% static '/img/no-image.jpg' %}" alt="Default Image">
							</div>
							{% endif %}
						</div>
					</div>
					<!-- /Product thumb imgs -->

					<!-- Product details -->
					<div class="col-md-5">
						<div class="product-details">
							<h2 class="product-name">{{ product.name }}</h2>
							<ul class="product-links">
								<li>Category:</li>
								<li><a href="#">{{ product.category }}</a></li>
							</ul> 
							<ul class="product-links">
								<li>Brand:</li>
								{% if product.brand.name == "Other" %}
									<li>{{ product.other_brand }}</li>
								{% else %}
									<li>{{ product.brand }}</li>
								{% endif %}
							</ul>
							{% comment %} <div>
								<div class="product-rating">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-o"></i>
								</div>
								<a class="review-link" href="#">10 Review(s) | Add your review</a>
							</div> {% endcomment %}
							{% comment %}<div>
								 <h3 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h3> 
								<span class="product-available">In Stock</span>
							</div>{% endcomment %}

							{% comment %} <div class="product-options">
								<label>
									Size
									<select class="input-select">
										<option value="0">X</option>
									</select>
								</label>
								<label>
									Color
									<select class="input-select">
										<option value="0">Red</option>
									</select>
								</label>
							</div>  {% endcomment %}

							 {% comment %} <div class="add-to-cart">
								<div class="qty-label">
									Qty
									<div class="input-number">
										<input type="number">
										<span class="qty-up">+</span>
										<span class="qty-down">-</span>
									</div>
								</div>
								<button class="add-to-cart-btn"><i class="fa fa-phone"></i>phone number</button>
							</div>  {% endcomment %}
							<form class="wishlist-form" data-product-id="{{ product.id }}">
								{% csrf_token %}
								<button type="button" class="wishlist-btn">
									{% if product in user.wishlist_set.all %}
										<i class="fa fa-heart"></i> <!-- Filled heart -->
									{% else %}
										<i class="fa fa-heart-o"></i> <!-- Empty heart -->
									{% endif %}
								</button>
							</form>
							 {% comment %} <ul class="product-btns">
								<li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
								<li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
							</ul>  {% endcomment %}

							<br>
							{% comment %} <ul class="product-links">
								<li>Share:</li>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-envelope"></i></a></li>
							</ul> {% endcomment %}
							<div>
								{% if user.is_authenticated %}
								<h4>Product Details</h4>
								<ul>
									{% for attribute in attributes %}
										<li>
											<strong>{{ attribute.attribute.attribute_name }}:</strong> 
											{{ attribute.attribute_value }}
										</li>
									{% endfor %}
								</ul>
								{% else %}
								<a href="{% url 'account:login' %}?next={{ request.path }}">Please Login for More details</a>
								{% endif %}
							</div>
							<br>
							<p>{{ product.short_description }}</p>
						</div>
					</div>
					<!-- /Product details -->

					<!-- Product tab -->
					<div class="col-md-12">
						<div id="product-tab">
							<!-- product tab nav -->
							<ul class="tab-nav">
								<li class="active"><a data-toggle="tab" href="#tab1">Businuss Info.</a></li>
								<li><a data-toggle="tab" href="#tab2">Details</a></li>
								<li><a data-toggle="tab" href="#tab3">Contect</a></li>
							</ul>
							<!-- /product tab nav -->

							<!-- product tab content -->
							<div class="tab-content">
								<!-- tab1  -->
								<div id="tab1" class="tab-pane fade in active">
									<div class="row">
										<div class="col-md-12">
										  {{businuss_details.address}}
										</div>
									</div>
								</div>
								<!-- /tab1  -->

								<!-- tab2  -->
								<div id="tab2" class="tab-pane fade in">
									<div class="row">
										<div class="col-md-12">
											<div>
												{% if user.is_authenticated %}
												<h4>Product Details</h4>
												<p>{{ product.description }}</p>
												{% else %}
												<a href="{% url 'account:login' %}">Plese Login for details</a>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
								<!-- /tab2  -->

								<!-- tab3  -->
								<div id="tab3" class="tab-pane fade in">
									<div class="row">
										<!-- Rating -->
										<div class="col-md-3">
											<div id="rating">
												<div class="rating-avg">
													<span>4.5</span>
													<div class="rating-stars">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-o"></i>
													</div>
												</div>
												<ul class="rating">
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 80%;"></div>
														</div>
														<span class="sum">3</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div style="width: 60%;"></div>
														</div>
														<span class="sum">2</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
													<li>
														<div class="rating-stars">
															<i class="fa fa-star"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
															<i class="fa fa-star-o"></i>
														</div>
														<div class="rating-progress">
															<div></div>
														</div>
														<span class="sum">0</span>
													</li>
												</ul>
											</div>
										</div>
										<!-- /Rating -->

										<!-- Reviews -->
										<div class="col-md-6">
											<div id="reviews">
												<ul class="reviews">
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
													<li>
														<div class="review-heading">
															<h5 class="name">John</h5>
															<p class="date">27 DEC 2018, 8:0 PM</p>
															<div class="review-rating">
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star"></i>
																<i class="fa fa-star-o empty"></i>
															</div>
														</div>
														<div class="review-body">
															<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
														</div>
													</li>
												</ul>
												<ul class="reviews-pagination">
													<li class="active">1</li>
													<li><a href="#">2</a></li>
													<li><a href="#">3</a></li>
													<li><a href="#">4</a></li>
													<li><a href="#"><i class="fa fa-angle-right"></i></a></li>
												</ul>
											</div>
										</div>
										<!-- /Reviews -->

										<!-- Review Form -->
										<div class="col-md-3">
											<div id="review-form">
												<form class="review-form">
													<input class="input" type="text" placeholder="Your Name">
													<input class="input" type="email" placeholder="Your Email">
													<textarea class="input" placeholder="Your Review"></textarea>
													<div class="input-rating">
														<span>Your Rating: </span>
														<div class="stars">
															<input id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
															<input id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
															<input id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
															<input id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
															<input id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
														</div>
													</div>
													<button class="primary-btn">Submit</button>
												</form>
											</div>
										</div>
										<!-- /Review Form -->
									</div>
								</div>
								<!-- /tab3  -->
							</div>
							<!-- /product tab content  -->
						</div>
					</div>
					<!-- /product tab -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->
{% endblock content %}
{% block extrajs %}
<script>
	document.addEventListener("DOMContentLoaded", function () {
		document.querySelectorAll(".wishlist-btn").forEach(button => {
			button.addEventListener("click", function (event) {
				event.preventDefault();
				
				let form = this.closest(".wishlist-form");
				let productId = form.getAttribute("data-product-id");
				let csrfToken = form.querySelector("[name=csrfmiddlewaretoken]").value;
				let icon = this.querySelector("i");
	
				fetch(`/accounts/wishlist/toggle/${productId}/`, {  // Make sure this URL matches urls.py
					method: "POST",
					headers: {
						"X-CSRFToken": csrfToken,
						"Content-Type": "application/json",
					},
					credentials: "same-origin",
				})
				.then(response => {
					if (!response.ok) {
						throw new Error(`HTTP error! Status: ${response.status}`);
					}
					return response.json();
				})
				.then(data => {
					if (data.status === "added") {
						icon.classList.remove("fa-heart-o", "text-gray-500");
						icon.classList.add("fa-heart", "text-red-500");
					} else {
						icon.classList.remove("fa-heart", "text-red-500");
						icon.classList.add("fa-heart-o", "text-gray-500");
					}
				})
				.catch(error => console.error("Error:", error));
			});
		});
	});
	</script>
{% endblock extrajs %}
